.item-detail {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
}

.item-detail img {
  max-width: 100%;
  border-radius: 10px;
}

.item-detail input {
  width: 60px;
  margin: 1rem;
}

.item-detail button {
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
