.cart-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 14px;
  color: black;
}

.cart-title {
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.cart-item img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info {
  flex: 1;
  margin-left: 20px;
}

.cart-item button {
  background: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.cart-item button:hover {
  background: #f1e90d;
  color: black;
}

.cart-total {
  text-align: right;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
