.cart-widget {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.cart-widget:hover {
  color: #333; /* un efecto sutil al pasar el mouse */
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
