.items-container {
  padding: 20px;
}

.items-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #222;
}

.items-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.loader {
  text-align: center;
  font-size: 1.3rem;
  padding: 50px;
  color: #222;
}
