html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: black;
  color: white;
}
